[submodule "plugins/rDSN.tools.explorer"]
    path = plugins/rDSN.tools.explorer
    url = https://github.com/imzhenyu/rDSN.tools.explorer.git
[submodule "plugins/rDSN.dist.deployment"]
    path = plugins/rDSN.dist.deployment
    url = https://github.com/imzhenyu/rDSN.dist.deployment.git
