[submodule "plugins_ext/rDSN.tools.explorer"]
	path = plugins_ext/rDSN.tools.explorer
	url = https://github.com/imzhenyu/rDSN.tools.explorer.git
[submodule "plugins_ext/rDSN.tools.hpc"]
	path = plugins_ext/rDSN.tools.hpc
	url = https://github.com/imzhenyu/rDSN.tools.hpc.git
[submodule "plugins_ext/rDSN.dist.deployment"]
	path = plugins_ext/rDSN.dist.deployment
	url = https://github.com/imzhenyu/rDSN.dist.deployment.git
